
.container {
  width: 100%;
  max-width: 1000px;
  min-width: 400px;
  display: flex;
  flex-wrap:wrap;
  gap: 50px;
}

.container .game-card {
  width: 190px;
  height: 254px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 10%;
  transition: all .3s;
}

.container .game-card2 {
  width: 190px;
  height: 254px;
  display: flex;
  background-color: #1a1a1a;
  border-radius:10%;
  transition: all .2s;
}

.container .game-card2  > h3 {
  position: relative;
  top: 50%;
  left:50%;
  color: #61dafb;
  transform: translate(-50%, -20%);
}
.container .game-card2:hover {
  transform: scale(0.98);
  border-radius: 10%;
  background-color: black;
}

.container .game-card2:hover > h3 {
  color: white;
}

.container .game-card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
