.container .button {
  width: 190px;
  height: 254px;
  display: inline-block;
  line-height: 2em;
  padding: 0 2em;
  border-radius: 15px;
  color: azure;
  background-color: #1a1a1a;
  /* background-clip: padding-box;*/

  margin-right: 1em;
  /* box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px;*/
  /* font */

}

.container .button > h3 {
  font-weight : bold;
  font-size : 50px;
  color: cyan;
  text-align: left;
}

